# Node modules (ignore in root, server, and client)
node_modules/
server/node_modules/
client/node_modules/

# Environment files
.env
server/.env
client/.env
client/.env.local

# Build/compiled artifacts
build/
dist/

health-credential-wallet-firebase-adminsdk-fbsvc-1752baba8f.json
/firebase_service_account_base64